.urja {
    text-align: justify;
    background-color: #84CEEB;
    background-position: center;
    background-size: cover;
}
.white{
   color: white; 
}
.blak{
   color: black; 
}
#whi{
  color: white;
}
.blu{
   background-color: #5983e8;
}
.base {
  background-color: black;
  color: whitesmoke;
  font-weight: 600;
  font-size: 0.8rem;
}

header h2 {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--secondary);
}
header h1 {
    font-weight: 800;
    font-size: 1.6rem;
    color: #84CEEB;
}
.image {
  
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(7, 7, 7, 0.6)), url('assets/front.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.image1{
  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(7, 7, 7, 0.6)), url('assets/machine.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px) {
  .image {
    background-attachment: scroll;
  }
  .image1 {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 550px) {
  .blak{
    flex-direction: column; 
 }
}

.card{
  min-height: 350px;
  max-width: 720px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}


/* coucil card CSS begins */